<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evaluation</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--Bootstrap-->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="https://www.runoob.com/static/js/wonderland.js"></script>
    {% load static %}
    <link rel="canonical" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
    <link rel="stylesheet" href="{% static 'css/template.css' %}">

</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'web:WebIndex' %}">Certificate Craze</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/logout">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                                历年数据
                            </button>
                            <div class="collapse show" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark rounded">语言类</a></li>
                                    <li><a href="/Eva-Accounting" class="link-dark rounded">会计类</a></li>
                                    <li><a href="/Eva-Finance" class="link-dark rounded">金融类</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                                我的成绩
                            </button>
                            <div class="collapse show" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="/index" class="link-dark rounded">成绩单</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true" href="/index">
                                学习空间
                            </button>
                            <div class="collapse show" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="/class" class="link-dark rounded">我的课程</a></li>
                                    <li><a href="/notes" class="link-dark rounded">我的笔记</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="border-top my-3"></li>
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                我的账户
                            </button>
                            <div class="collapse" id="account-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="{% url 'web:profile' stu_name=request.session.username %}" class="link-dark rounded">个人信息</a></li>
                                    <li><a href="/logout" class="link-dark rounded">退出登录</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2" style="font-family: KaiTi;">四六级历年通过率</h1>
                </div>
                <div id="CET" style="display: block; height: 400px; width: 1000px;"></div>
                <script type="text/javascript">
                    var myChart = echarts.init(document.getElementById('CET'));
                    var series_Eng = []; var xAxis_data = [];
                    {% for i in Eng %}
                    series_Eng.push('{{i.rate}}')
                    {% endfor %}
                    {% for m in Eng %}
                    xAxis_data.push('{{m.date.year}}年{{m.date.month}}月')
                    {% endfor %}
                    var option = {
                        tooltip: {},
                        toolbox: {
                            show: true,
                            feature: {
                                mark: { show: true },
                                dataView: { show: true, readOnly: false },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        xAxis: {
                            type: 'category',
                            data: xAxis_data,
                        },
                        yAxis: [
                            {
                                type: 'value',
                                axisLabel: {
                                    show: true,
                                    interval: 'auto',
                                    formatter: '{value} %'
                                },
                                show: true
                            }
                        ],
                        series: [
                            {
                                data: series_Eng,
                                type: 'line'
                            }
                        ]
                    };
                    myChart.setOption(option);
                </script>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2" style="font-family: KaiTi;">四级成绩分布</h1>
                </div>
                <div id="CET-4" style="display: block; height: 400px; width: 1000px;"></div>
                <script type="text/javascript">
                    var myChart = echarts.init(document.getElementById('CET-4'), 'wonderland');
                    var series_CET4 = []; var xAxis_data = [];
                    {% for i in CET4 %}
                    series_CET4.push('{{i.percentage}}')
                    {% endfor %}
                    {% for k in CET4 %}
                    xAxis_data.push('{{k.score}}')
                    {% endfor %}
                    var option = {
                        tooltip: {},
                        toolbox: {
                            show: true,
                            feature: {
                                mark: { show: true },
                                dataView: { show: true, readOnly: false },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        xAxis: {
                            type: 'category',
                            data: xAxis_data,
                        },
                        yAxis: [
                            {
                                type: 'value',
                                axisLabel: {
                                    show: true,
                                    interval: 'auto',
                                    formatter: '{value} %'
                                },
                                show: true
                            }
                        ],
                        series: [
                            {
                                data: series_CET4,
                                type: 'bar'
                            }
                        ]
                    };
                    myChart.setOption(option);
                </script>

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2" style="font-family: KaiTi;">六级成绩分布</h1>
                </div>
                <div id="CET-6" style="display: block; height: 400px; width: 1000px;"></div>
                <script type="text/javascript">
                    var myChart = echarts.init(document.getElementById('CET-6'), 'wonderland');
                    var series_CET6 = []; var xAxis_data = [];
                    {% for j in CET6 %}
                    series_CET6.push('{{j.percentage}}')
                    {% endfor %}
                    {% for k in CET6 %}
                    xAxis_data.push('{{k.score}}')
                    {% endfor %}
                    var option = {
                        tooltip: {},
                        toolbox: {
                            show: true,
                            feature: {
                                mark: { show: true },
                                dataView: { show: true, readOnly: false },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        xAxis: {
                            type: 'category',
                            data: xAxis_data,
                        },
                        yAxis: [
                            {
                                type: 'value',
                                axisLabel: {
                                    show: true,
                                    interval: 'auto',
                                    formatter: '{value} %'
                                },
                                show: true
                            }
                        ],
                        series: [
                            {
                                data: series_CET6,
                                type: 'bar'
                            }
                        ]
                    };
                    myChart.setOption(option);
                </script>
            </main>
        </div>
    </div>

</body>

</html>