{% extends 'ratebase.html' %}
{% block content %}

{% load static %}
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesearch.css' %}">
<form action = "/list_filter/" method = "post">
	{%csrf_token%}
	<!-- header section end -->
	<!-- banner section start -->
	<div class="layout_padding banner_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 bg-black">
					<div class="banner_bt">
						<button class="read_bt"><a href="/Ins-Language">机构/网站/app列表</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- banner section end -->
	<!-- search box start -->
	<div class="container">
		<div class="search_box">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
                        <input type="text" class="email_boton" placeholder="搜索机构/网站/app列表" name="searchinstitute">
                    </div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
                        <input type="text" class="email_boton" placeholder="搜索评分" name="searchstar">
                    </div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
                        <input type="text" class="email_boton" placeholder="搜索关键词" name="searchcomment">
                    </div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
                        <input class="search_bt" type = "submit" value = "搜索"/>
                    </div>
				</div>
				<div class="fashion_menu">
                    	<ul>
                    		<li class="active"><a href="/Ins-Accounting">更多会计类机构/网站/app</a></li>
                    		<li><a href="/Ins-Language">更多语言类机构/网站/app</a></li>
                    		<li><a href="/Ins-Finance">更多金融类机构/网站/app</a></li>
                    	</ul>
                    </div>
			</div>
		</div>
	</div>

</form>    
{% endblock %}