{% extends 'ratebase.html' %}
{% block content %}
<style>
    .input-group{
        height: 400px;
    }
</style>
    <form action = "/writenotes/" method = "post">
        {%csrf_token%}
        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            添加笔记：
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="mb-3">
            <input class="form-control form-control-lg" 
                   type="text" placeholder="笔记标题" aria-label=".form-control-lg example"
                   name = "title"/>
        </div>

        <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text">笔记：</span>
            <textarea class="form-control" aria-label="With textarea" name = "content"></textarea>
        </div>
        </div>

        <div class = "mb-3">
            <input class="btn btn-outline-secondary" type = "submit" value = "提交"/>
            <a class="btn btn-outline-secondary" href="/notes">返回笔记列表</a>
        </div>
        
    </form>
{% endblock %}

